{% extends 'layout.html' %}

{% block title %} Update {{ table_name }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form action="/{{ table_name }}/update_confirm"  class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Update {{ table_name }}</legend>
                        <br>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="text" placeholder="ID Peminjaman"
                                       class="form-control" value="{{ borrow.borrow_id }}" disabled>
                                <input id="borrow_id" name="borrow_id" type="hidden"
                                       class="form-control" value="{{ borrow.borrow_id }}">
                                <br>
                                <label for="book_id">Book</label>
                                <select name="book_id" id="book_id" class="form-control" required>
                                    {% for book in list_book %}
                                        <option value="{{ book.book_id }}"{% if borrow.book_id == book.book_id %}selected{% endif %}>{{ book.title }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label for="user_id">Username</label>
                                <select name="user_id" id="user_id" class="form-control" required>
                                    {% for user in list_user %}
                                        <option value="{{ user.user_id }}"{% if borrow.user_id == user.user_id %}selected{% endif %}>{{ user.user_name }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <input id="secret_key" name="secret_key" type="hidden" placeholder="Kunci Buku"
                                       class="form-control" value="{{ borrow.secret_key }}" required>
                                <label for="borrow_date">borrow date</label>
                                <input id="borrow_date" name="borrow_date" type="date" placeholder="Tanggal Pinjam"
                                       class="form-control" value="{{ borrow.borrow_date.isoformat() }}" required><br>

                                <label for="return_date">return date</label>
                                <input id="return_date" name="return_date" type="date" placeholder="Tanggal Kembali"
                                       class="form-control" value="{{ borrow.return_date.isoformat() }}" required><br>

                                {% if message %}
                                <div class="col-md-12 text-danger">
                                    <h4 class="text-center">{{ message }}</h4>
                                </div>
                                {% endif %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Update
                                        {{ table_name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}