{% extends 'layout.html' %}

{% block title %} Delete Book {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Delete Book</legend>
                        <div class="text-center">
                            <img src="/static/img/delete_book.png" class="text-center"
                                 style="width: 300px; height: 300px; margin-left:100px">
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input id="fname" name="book_id" type="text" placeholder="Enter book ID"
                                       class="form-control">
                                <br>
                                {% if message %}
                                <div class="col-md-12 text-danger">
                                    <h4 class="text-center">{{ message }}</h4>
                                </div>
                                {% endif %}
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}