{% extends 'layout.html' %}

{% block title %} Update Book {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form action="/books/update_confirm" class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Update Book</legend>
                        <div class="text-center">
                            <img src="/static/img/update_book.png" class="text-center"
                                 style="width: 300px; height: 300px; margin-left:100px">
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="text" placeholder="ID Buku" class="form-control"
                                       value="{{book.book_id}}" disabled>
                                <input id="id" name="book_id" type="text"
                                       value="{{book.book_id}}" hidden>
                                <br>
                                <input id="title" name="title" type="text" placeholder="Judul buku"
                                       value="{{book.title}}" class="form-control">
                                <br>
                                <input id="author" name="author" type="text" placeholder="Author"
                                       value="{{book.author}}" class="form-control">
                                <br>
                                <input id="thumbnail" name="thumbnail" type="text" placeholder="Thumbnail"
                                       class="form-control" value="{{book.thumbnail}}">
                                <br>
                                <input id="file_path" name="file_path" type="text" placeholder="Path File"
                                       class="form-control" value="{{book.file_path}}">
                                <br>
                                <label for="book_category">Genre</label>
                                <select name="book_category" id="book_category" class="form-control">
                                    {% for category in list_category %}
                                        <option value="{{ category.category_id }}"
                                                {% if book.book_category == category.category_id %}
                                                selected
                                                {% endif %}>
                                            {{ category.category_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Update
                                        Book
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}