{% extends 'layout.html' %}

{% block title %} Update Book {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Update Book Details</legend>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input id="fname" name="book_id" type="text" placeholder="Enter book ID"
                                       class="form-control">
                                <br>
                            </div>
                            {% if message %}
                            <div class="col-md-12 text-danger">
                                <h4 class="text-center">{{ message }}</h4>
                            </div>
                            {% endif %}
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Search</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}