<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">UTS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">TIB25 - PEMROGRAMAN WEB FRAMEWORK</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not user_login %}
            <li><a href="/admin/view"><span class="glyphicon glyphicon-sunglasses"></span> Admin</a></li>
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            {% endif %}
            {% if user_login %}
            <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
