{% extends "base/nav_user.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="container my-5">
    <h1>Tabel Admin</h1>
</div>

<div class="container my-5">
    <a href="insert">
        <button type="submit" class="btn btn-primary mb-3">Add</button>
    </a>
    {% if list_admin | length < 1 %}
    <p>Tabel admin Kosong!</p>
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in list_admin %}
        <tr>
            <td>{{ admin.username }}</td>
            <td>{{ admin.password }}</td>
            <td>
                <a href="{{ url_for('admin.update', id=admin.username) }}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </a>
                <form action="{{ {{ url_for('admin.delete', id=admin.username) }}" method="post">
                    <div class="form-group mt-1">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}