{% extends "user/layout.html" %}
{% block title %}Borrow{% endblock %}
{% block nav_borrow %}active{% endblock nav_borrow %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Borrows</h1>
        <a class="btn btn-success" href="/user/borrow/insert" style="width: 6rem;">Add</a>
    </div>

    {% if list_borrow | length < 1 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <p class="h1 mb-4 font-weight-bold">No Borrow Added</p>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <!-- DataTales Example -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Book ID</th>
                                <th>Username</th>
                                <th>Borrow Date</th>
                                <th>Return Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for borrow in list_borrow %}
                            <tr>
                                {% for book in list_book %}
                                {% if book.book_id == borrow.book_id %}
                                <td class="align-middle">{{ book.title }}</td>
                                {% endif %}
                                {% endfor %}

                                {% for user in list_user %}
                                {% if user.username == borrow.username %}
                                <td class="align-middle">{{ user.name }}</td>
                                {% endif %}
                                {% endfor %}

                                <td class="align-middle">{{ borrow.borrow_date }}</td>
                                <td class="align-middle">{{ borrow.return_date }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}