{% extends 'layout.html' %}

{% block title %} Add {{ table_name }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Add New {{ table_name }}</legend>
                        <br>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                {% for item_name, item_id, item_type, item_arr in item %}
                                {% if item_type == "str" %}
                                <input id="{{ item_id }}" name="{{ item_id }}" type="text" placeholder="{{ item_name }}"
                                       class="form-control" required>
                                {% endif %}
                                {% if item_type == "password" %}
                                <input id="{{ item_id }}" name="{{ item_id }}" type="password" placeholder="{{ item_name }}"
                                       value="{{ item_value }}" class="form-control" required>
                                {% endif %}
                                {% if item_type == "arr" %}
                                <label for="{{ item_name }}">{{ item_name }}</label>
                                <select name="{{ item_name }}" id="{{ item_name }}" class="form-control" required>
                                    {% for item in item_arr %}
                                    {% for item_value in item_arr.values() %}
                                    <option value="{{ item_value[0] }}">{{ item_value[1]}}</option>
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                                {% endif %}
                                {% if item_type == "date" %}
                                <input id="{{ item_id }}" type="date" class="form-control" required>
                                {% endif %}
                                <br>
                                {% endfor %}

                                {% if message %}
                                <div class="col-md-12 text-danger">
                                    <h4 class="text-center">{{ message }}</h4>
                                </div>
                                {% endif %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Add
                                        {{ table_name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}