{% extends 'layout.html' %}

{% block title %} Add {{ table_name }} {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Delete {{ table_name }}</legend>
                        <div class="col-xs-4 col-md-offset-4">
                            <input id="item_id" name="item_id" type="text" placeholder="Enter {{ id_name }}"
                                   class="form-control">
                            <br>
                            {% if message %}
                            <div class="col-md-12 text-danger">
                                <h4 class="text-center">{{ message }}</h4>
                            </div>
                            {% endif %}
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Delete</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}