{% extends 'layout.html' %}

{% block title %} Add Book {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="well well-sm">
                <form action="/{{ table_name }}/update_confirm" class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Update {{ table_name }}</legend>
                        <br>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                {% for item_name, item_value, item_id, item_type, item_arr in item %}
                                {% if item_type == "str" %}
                                {% if item_id != 0 %}
                                <input id="{{ item_id }}" name="{{ item_id }}" type="text" placeholder="{{ item_name }}"
                                       value="{{ item_value }}" class="form-control" required>
                                {% else %}
                                <input id="{{ item_id }}" name="{{ item_id }}" type="hidden"
                                       placeholder="{{ item_name }}" value="{{ item_value }}" class="form-control">
                                <input type="text" placeholder="{{ item_name }}" value="{{ item_value }}"
                                       class="form-control" disabled>
                                {% endif %}
                                {% endif %}
                                {% if item_type == "arr" %}
                                <label for="{{ item_name }}">{{ item_name }}</label>
                                <select name="{{ item_name }}" id="{{ item_name }}" class="form-control" required>
                                    {% for item_value in item_arr.values() %}
                                    <option value="{{ item_value[0] }}" {% if item_value[1]== item_value %}required{%
                                            endif %}>{{ item_value[1]}}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                                {% if item_type == "date" %}
                                <input id="{{ item_id }}" type="date" class="form-control"
                                       value="{{item_value.date().isoformat()}}" required>
                                {% endif %}
                                <br>
                                {% endfor %}
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Update
                                        Book
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}