{% extends 'layout.html' %}
{% block title %} {{ table_name }} {% endblock %}
{% block body %}

<h2 style="text-align: center; font-weight: bold; margin-bottom:50px; color: #FDFDF5">Library CRUD Application</h2>

<div class="container" style="margin-bottom: 50px">
    <!-- Example row of columns -->
    <h1>Tabel {{ table_name }}</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="/{{ table_name }}/add">
                <button type="button" class="btn btn-success btn-lg" style="font-weight: bold; color: black">
                    ADD
                </button>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/{{ table_name }}/update">
                <button type="button" class="btn btn-warning btn-lg" style="font-weight: bold; color: black">
                    UPDATE
                </button>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/{{ table_name }}/delete">
                <button type="button" class="btn btn-danger btn-lg" style="font-weight: bold; color: black">
                    DELETE
                </button>
            </a>
        </div>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        {% if items | length < 1 %}
        <p style="text-align: center">No {{ table_name }} in the Database</p>
        {% else %}
        <table class="table">
            <thead>
            <tr>
                {% for item_key in items[0].to_json().keys() %}
                <td>{{ item_key }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                {% for item_value in item.to_json().values() %}
                <td>{{ item_value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}