{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<h2 style="text-align: center; font-weight: bold; margin-bottom:50px; color: #FDFDF5">Library CRUD Application</h2>

<div class="container" style="margin-bottom: 50px">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="/books/add">
                <button type="button" class="btn btn-success btn-lg" style="font-weight: bold; color: black">
                    ADD BOOKS &raquo;
                </button>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/books/update">
                <button type="button" class="btn btn-warning btn-lg" style="font-weight: bold; color: black">
                    UPDATE BOOK DETAILS &raquo;
                </button>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/books/delete">
                <button type="button" class="btn btn-danger btn-lg" style="font-weight: bold; color: black">
                    DELETE BOOKS &raquo;
                </button>
            </a>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {% if books | length < 1 %}
        <p style="text-align: center">No books in the library</p>
        {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.book_category }}</td>
                <td>
                    <a class="btn btn-primary" type="button" href="/borrow/add">
                        Borrow
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}