{% extends "admin/layout.html" %}
{% block title %}Add Borrow{% endblock %}
{% block nav_borrow %}active{% endblock nav_borrow %}
{% block content %}

<div class="container-fluid">
{% if list_book | length < 1 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <p class="h1 mb-4 font-weight-bold">Tabel book Kosong! Tambah book terlebih dahulu!</p>
    </div>
{% elif list_user | length < 1 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <p class="h1 mb-4 font-weight-bold">Tabel user Kosong! Tambah user terlebih dahulu!</p>
    </div>
{% else %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 align-self-center pt-2 pb-4 px-5">
            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                <h1 class="h3 mb-0 font-weight-bold text-gray-800">Add Category</h1>
            </div>
            <form class="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Borrow ID</label>
                    <input class="form-control" name="borrow_id" type="text" required>
                </div>

                <div class="form-group">
                    <label>Book</label>
                    <select class="form-control"  name="book_id" required>
                        {% for book in list_book %}
                            <option value="{{ book.book_id }}">{{ book.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>User</label>
                    <select class="form-control"  name="username" required>
                        {% for user in list_user %}
                            <option value="{{ user.username }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Secret Key</label>
                    <input class="form-control" name="secret_key" type="text" required>
                </div>

                <div class="form-group">
                    <label>Borrow Date</label>
                    <input class="form-control" name="borrow_date" type="date" required>
                </div>

                <div class="form-group">
                    <label>Return Date</label>
                    <input class="form-control" name="return_date" type="date" required>
                </div>
                <button type="submit" value="add category" class="btn btn-primary btn-user btn-block mt-5">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    {% endif %}
</div>
{% endblock %}