{% extends "admin/layout.html" %}
{% block title %}Borrow{% endblock %}
{% block nav_borrow %}active{% endblock nav_borrow %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Borrows</h1>
        <a class="btn btn-success" href="{{ url_for('borrow.insert') }}" style="width: 6rem;">Add</a>
    </div>

    {% if list_borrow | length < 1 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <p class="h1 mb-4 font-weight-bold">No Borrow Added</p>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <!-- DataTales Example -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Book ID</th>
                                <th>Username</th>
                                <th>Book Key</th>
                                <th>Borrow Date</th>
                                <th>Return Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for borrow in list_borrow %}
                            <tr>
                                <td class="align-middle">{{ borrow.borrow_id }}</td>
                                {% for book in list_book %}
                                    {% if book.book_id == borrow.book_id  %}
                                        <td class="align-middle">{{ book.title }}</td>
                                    {% endif %}
                                {% endfor %}
                                {% for user in list_user %}
                                    {% if user.username == borrow.username  %}
                                        <td class="align-middle">{{ user.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td class="align-middle">{{ borrow.secret_key }}</td>
                                <td class="align-middle">{{ borrow.borrow_date }}</td>
                                <td class="align-middle">{{ borrow.return_date }}</td>
                                <td>
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <!-- Update -->
                                        <a class="btn btn-warning btn-icon-split mx-2"
                                           href="{{ url_for('borrow.update', id=borrow.borrow_id) }}"
                                           style="width: 6rem;">
                                            <span class="text">
                                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <div class="m-2"></div>
                                        <!-- Delete -->
                                        <a class="btn btn-danger btn-icon-split mx-2"
                                           href="{{ url_for('borrow.delete', id=borrow.borrow_id) }}"
                                           style="width: 6rem;">
                                            <span class="text">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}