{% extends "admin/layout.html" %}
{% block title %}Book{% endblock %}
{% block nav_book %}active{% endblock nav_book %}
{% block content %}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Book</h1>
        <a class="btn btn-success" href="{{ url_for('book.insert') }}" style="width: 6rem;">Add</a>
    </div>

    {% if message %}
    <p style="color:red; text-align: center;">
        <b>{{ message }}</b>
    </p>
    {% endif %}

    {% if list_book | length < 1 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
        <p class="h1 mb-4 font-weight-bold">No Book Added</p>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Thumbnail</th>
                                <th>FIle Path</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for book in list_book %}
                            <tr>
                                <td class="align-middle">{{ book.book_id }}</td>
                                <td class="align-middle">{{ book.title }}</td>
                                <td class="align-middle">{{ book.author }}</td>

                                {% for category in list_category %}
                                    {% if book.category_id == category.category_id %}
                                    <td class="align-middle">{{ category.category_name }}</td>
                                    {% endif %}
                                {% endfor %}

                                <td class="align-middle">
                                    <img src="{{ url_for('static', filename=book.thumbnail) }}"
                                         style="width:100px; height:auto;">
                                </td>
                                <td class="align-middle">{{ book.file_path }}</td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <!-- Update -->
                                        <a class="btn btn-warning btn-icon-split mx-2"
                                           href="{{ url_for('book.update', id=book.book_id) }}" style="width: 3rem;">
                                                <span class="text">
                                                    <i class="fa fa-wrench" aria-hidden="true"></i>
                                                </span>
                                        </a>
                                        <div class="m-2"></div>
                                        <!-- Delete -->
                                        <a class="btn btn-danger btn-icon-split mx-2"
                                           href="{{ url_for('book.delete', id=book.book_id) }}" style="width: 3rem;">
                                                <span class="text">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}